<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Cajeros</ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content class="ion-padding">
        <ion-searchbar showCancelButton (ionInput)="getFilterCajeros($event)" placeholder="Buscar Cajero"></ion-searchbar>
    <ion-button color="success" (click)="openModal()" expand="block">Nuevo Registro</ion-button>

  <ion-list>

    <ion-item *ngFor="let cajero of cajeros_ar">
      <ion-avatar slot="start">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSXweFL9Sg-cgJTuEtSToA3jQh6QDq6yxD7BtwfVPCqzJ7ytzOC&s">
      </ion-avatar>
      <ion-label>
        <h2><b>Codigo: </b>{{ cajero.codigo }}</h2>
        <h3><b>Nombre: </b>{{ cajero.nombre }}</h3>
        <h3><b>Estado de registro: </b>
          <ion-badge *ngIf="cajero.estado == 'Activo'" color="success" slot="end">{{ cajero.estado }}</ion-badge>
          <ion-badge *ngIf="cajero.estado == 'Inactivo'" color="medium" slot="end">{{ cajero.estado }}</ion-badge>
          <ion-badge *ngIf="cajero.estado == 'Eliminado'" color="tertiary" slot="end">{{ cajero.estado }}</ion-badge>
        </h3>
        <ion-button size="small" color="secondary" (click)="verCajeroModal(cajero)"><ion-icon name="eye"></ion-icon></ion-button>
        <ion-button size="small" color="warning" (click)="openModalWithData(cajero)"><ion-icon name="create"></ion-icon></ion-button>
        <ion-button size="small" color="danger" (click)="presentAlertConfirm(cajero.id)"><ion-icon name="trash"></ion-icon></ion-button>
      </ion-label>
    </ion-item>
  </ion-list>


</ion-content>