<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Recibos de Ingreso a Caja</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-searchbar showCancelButton (ionInput)="getFilterRecibos($event)" placeholder="Buscar Recibo"></ion-searchbar>
    <ion-button color="success" (click)="openModal()" expand="block">Nuevo Registro</ion-button>
  <ion-list>

    <ion-item *ngFor="let recibo of recibos_ar">
      <ion-avatar slot="start">
        <img src="https://image.flaticon.com/icons/png/512/24/24771.png">
      </ion-avatar>
      <ion-label>
        <h2><b>Numero: </b>{{ recibo.numero }}</h2>
        <h3><b>Monto: </b>{{ recibo.monto }}</h3>
        <h4><b>Cliente: </b>{{ recibo.cliente_nombre }}</h4>
        <h4><b>Cajero: </b>{{ recibo.cajero_nombre }}</h4>
        <h3><b>Estado de registro: </b>
          <ion-badge *ngIf="recibo.estado == 'Activo'" color="success" slot="end">{{ recibo.estado }}</ion-badge>
          <ion-badge *ngIf="recibo.estado == 'Inactivo'" color="medium" slot="end">{{ recibo.estado }}</ion-badge>
          <ion-badge *ngIf="recibo.estado == 'Eliminado'" color="tertiary" slot="end">{{ recibo.estado }}</ion-badge>
        </h3>
        
        <ion-button size="small" color="secondary" (click)="verReciboModal(recibo)"><ion-icon name="eye"></ion-icon></ion-button>
        <ion-button size="small" color="warning" (click)="openModalWithData(recibo)"><ion-icon name="create"></ion-icon></ion-button>
        <ion-button size="small" color="danger" (click)="presentAlertConfirm(recibo.id)"><ion-icon name="trash"></ion-icon></ion-button>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>