<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Clientes</ion-title>     
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-searchbar showCancelButton (ionInput)="getFilterClientes($event)" placeholder="Buscar Cliente"></ion-searchbar>
    <ion-button color="success" (click)="openModal()" expand="block">Nuevo Registro</ion-button>

  <ion-list>

    <ion-item *ngFor="let cliente of clientes_ar">
      <ion-avatar slot="start">
        <img src="https://png.pngtree.com/png-vector/20190625/ourlarge/pngtree-business-male-user-avatar-vector-png-image_1511454.jpg">
      </ion-avatar>
      <ion-label>
        <h2><b>Codigo: </b>{{ cliente.codigo }}</h2>
        <h3><b>Nombre: </b>{{ cliente.nombre }}</h3>
        <h3><b>Estado de registro: </b>
          <ion-badge *ngIf="cliente.estado == 'Activo'" color="success" slot="end">{{ cliente.estado }}</ion-badge>
          <ion-badge *ngIf="cliente.estado == 'Inactivo'" color="medium" slot="end">{{ cliente.estado }}</ion-badge>
          <ion-badge *ngIf="cliente.estado == 'Eliminado'" color="tertiary" slot="end">{{ cliente.estado }}</ion-badge>
        </h3>
        <ion-button size="small" color="secondary" (click)="verClienteModal(cliente)"><ion-icon name="eye"></ion-icon></ion-button>
        <ion-button size="small" color="warning" (click)="openModalWithData(cliente)"><ion-icon name="create"></ion-icon></ion-button>
        <ion-button size="small" color="danger" (click)="presentAlertConfirm(cliente.id)"><ion-icon name="trash"></ion-icon></ion-button>
      </ion-label>
    </ion-item>
  </ion-list>


</ion-content>